<h1>Página de Geração de Previsão de Coleta</h1>

<% @collection = Collection.last%>
<% @collection.generate_prediction%>
<th>A próxima coleta deverá ser feita em <%= @collection.miss_days%> dias</th>
<br>